.container{
    display: grid;
    
    background-color: rgb(15, 11, 31);
    height: 100vh;
    color: white;
    justify-content: center;
}

.h1{
 align-items: flex-start;
}



.middle{
    display: grid;
    text-align: center;
    align-items: column;
    
}

.bird{
    width: 5%;
    transform: rotate(200deg);
}



.textbox{
   width: 50%;
   height: 40%;
   position: center;
}